.lunchPage {
  color: #000;
  margin-top: 1em;
}
.courses {
  margin: 2em 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.course {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
  width: 200px;
}

.course .category {
  font-size: 2em;
  margin-bottom: 0.8em;
}

.course .title {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.course .price {
  font-size: 1em;
}

.course .properties {
  font-size: 1em;
}

.nextDay {
  background: none;
  border: none;
  position: fixed;
  right: 10px;
  top: 40%;
}
.nextDay:focus {
  outline: none;
}

.prevDay {
  background: none;
  border: none;
  position: fixed;
  left: 10px;
  top: 40%;
}

.prevDay:focus {
  outline: none;
}

.weekDay {
  font-size: 2em;
  text-align: center;
}

.date {
  text-align: center;
}
