.lunch {
  color: #fff;
  margin: 0;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(255, 64, 64);
  width: 100%;
  height: 75px;
  border: 1px rgba(0, 0, 0, 0.5) solid;
}

.lunch a {
  margin: 0;
}

.lunch span {
  text-align: center;
  border: 0;
}

.lunch:hover {
  color: #000;
}
