.tag {
  color: #000;
  margin: 1px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: rgb(61, 61, 61);
  width: 32vw;
  height: 125px;
}

.tag:hover {
  color: #000;
}

.tag:active {
  color: #000;
}

.tag .ruuviId {
  display: none;
  justify-content: center;
}

.tag .ruuviName {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.tag .temperature {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
}

.tagPage {
  margin: 1em;
  padding: 0;
  display: flex;
  font-size: 2em;
  flex-direction: column;
}

.tagPage .tagValues {
  display: flex;
  flex-direction: row;
}

.tagPage .tagControls {
  display: flex;
  flex-direction: row;
}

.tagValues .ruuviId {
  margin: 1em;
}

.tagValues .ruuviName {
  margin: 1em;
}

.tagValues .temperature {
  margin: 1em;
}

.tagValues .humidity {
  margin: 1em;
}

.tagValues .pressure {
  margin: 1em;
}

.tagControls button {
  padding: 1em;
  font-size: 1em;
  margin: 1em;
}
