.tag {
  color: #fff;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: rgb(61, 61, 61);
  width: 32vw;
  height: 150px;
  border: 1px black solid;
  box-shadow: 1px 1px #000;
}

.tag:hover {
  color: #fff;
}

.tag:active {
  color: #fff;
}

.tag .ruuviId {
  display: none;
  justify-content: center;
}

.tag .ruuviName {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.tag .temperature {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
}

.tagPage {
  color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.tagPage .tagValues {
  display: flex;
  flex-direction: row;
  font-size: 2em;
}

.tagPage .tagControls {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1em;
}

.tagValues .ruuviId {
  display: none;
  margin: 1em;
}

.tagValues .ruuviName {
  margin: 1em;
}

.tagValues .temperature {
  margin: 1em;
}

.tagValues .humidity {
  margin: 1em;
}

.tagValues .pressure {
  margin: 1em;
}

.tagValues .mean {
  margin: 1em;
}

.tagControls a {
  color: white;
  width: 100%;
  display: flex;
  background-color: rgb(90, 90, 90);
  justify-content: center;
}

.tagControls .backButton {
  display: flex;
  padding: 1em;
  font-size: 0.7em;
}
