.nav {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
}

.weather {
  color: #000;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  background: rgb(178, 236, 19);
  border: 1px #000 solid;
}

.weather:hover {
  color: #000;
}

.tagsLink {
  color: #000;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  background: rgb(236, 19, 146);
  border: 1px #000 solid;
}

.tagsLink:hover {
  color: #000;
}
