.nav {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
}

.weather {
  color: #fff;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  background: rgb(255, 64, 64);
  border: 1px rgba(0, 0, 0, 0.5) solid;
}

.weather:hover {
  color: #fff;
}

.tagsLink {
  color: #fff;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  background: rgb(255, 64, 64);
  border: 1px rgba(0, 0, 0, 0.5) solid;
}

.tagsLink:hover {
  color: #fff;
}
